div#message_box
{
	background: #fff;
	position: fixed;
	left: 50%;
	top: 20px;
	margin-left: -140px;
	padding: 15px 20px;
	box-shadow: 0px 0px 50px;
	font-size: 15px;
	z-index: 100;
	width: 240px;
	min-height: 40px;
	display: none;
}



img
{
    border: none;
}

div.settings_menu
{
	z-index: 2;
}

	div.settings_menu.absolute
	{
		position: absolute;
	}

	div.settings_menu.left
	{
		top: 1px;
		left: 1px;
	}

	div.settings_menu.right
	{
		top: 1px;
		right: 1px;
	}
	
	div.settings_menu.invisible
	{
		display: none;
	}
	
	
div.button_small
{
	display: inline-block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin: 1px;
}

div.button_small:after
{
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 14px;  /* Preferred icon size */
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
	
	padding: 1px;
    border: 2px solid #09afdf;
    color: #47484a;
    border-radius: 14px;
	background: #fff;
}

	div.button_small.add:after
	{
		content: 'add';
	}
	
	div.button_small.rec:after
	{
		content: 'edit';
	}
	
	div.button_small.del:after
	{
		content: 'clear';
	}
	
	div.button_small.import:after
	{
		content: 'expand_more';
	}
	
	div.button_small.export:after
	{
		content: 'expand_less';
	}

	div.button_small.conf:after
	{
		content: 'settings';
	}
	
	div.button_small.invise:after
	{
		content: 'visibility_off';
	}

	div.button_small.mail:after
	{
		content: 'mail';
	}

	div.button_small.print:after
	{
		content: 'local_printshop';
	}



table.form_info
{
	width: 100%;
}

	table.form_info td
	{
		width: 50%;
		vertical-align: top;
	}

	input
	{
		border: 2px solid #ddd;
		background: #f5f5f5;
		padding: 0px 5px;
		width: 100%;
		height: 34px;
		font-size: 14px;
	}
	
	textarea
	{
		border: 2px solid #ddd;
		background: #f5f5f5;
		padding: 0px 5px;
		width: 100%;
		height: 100px;
		font-size: 14px;
		resize: none;
	}
	
	input[type=file]
	{
		padding: 0px;
	}
	
	input[type=file]::-webkit-file-upload-button
	{
		line-height: 28px;
		background: none;
		border: none;
		outline: none;
	}
	
	input#image-pick
	{
		width: 70%;
		float: left;
		border-right: none;
	}
	
	span.brows-button
	{
		width: 30%;
		display: inline-block;
		line-height: 34px;
		text-align: center;
		color: #fff;
		background: #337ab7;
		cursor: pointer;
	}
	
	span.brows-button:hover
	{
		background: #286090;
	}
	
	span.brows-button:active
	{
		background: #204d74;
	}
	
	
	label.field-label
	{
		display: block;
		line-height: 24px;
		font-size: 14px;
		font-weight: 600;
		margin-top: 15px;
	}
	
	label.radio-field
	{
		float: left;
		line-height: 14px;
		margin-right: 10px;
	}
	
		input[type=radio]
		{
			width: 14px;
			height: 14px;
			float: left;
			margin: 0px 5px 0px 0px;
		}
	
	select
	{
		border: 2px solid #ddd;
		background: #f5f5f5;
		width: 100%;
		height: 34px;
		font-size: 14px;
		padding: 0px 5px;
	}
	
	input.error,
	select.error
	{
		border: 2px solid #f26d4f;
		background: #f1c9c0;
	}
