*
{
	outline: none;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style-type: none;
}

div.clear
{
	clear: both;
}

body
{
	background: #fff;
	font-weight: 400;
	font-size: 16px;
	font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

#preload{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #999999 url(../../images/loading.gif) center center no-repeat;
	opacity: 0.5;
	z-index: 1100;
	display: none;
}

div.search-wrap
{
	background: rgba(0, 0, 0, 0);
	position: fixed;
	width: 0px;
	height: 0px;
	transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	right: 0px;
	top: 0px;
	z-index: 100;
}

div.search-wrap.animate
{
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
}

span.search-close
{
	position: absolute;
	top: 50px;
	right: 50px;
	color: #fff;
	cursor: pointer;
	width: 36px;
	height: 36px;
	font-size: 36px;
	transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transform: scale(0);
}

span.search-close.animate
{
	transform: scale(1);
}

div.main-container.search
{
	position: relative;
	margin-top: 270px;
	width: 1060px;
}

input.input-field
{
	background: none;
	width: 100%;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	height: 130px;
	font-size: 70px;
	text-transform: uppercase;
	padding-right: 100px;
	transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	visibility: hidden;
	opacity: 0;
}

input.input-field::-webkit-input-placeholder
{
	color: #fff;
}

input.input-field.animate
{
	visibility: visible;
	opacity: 1;
}

span.search-button
{
	position: absolute;
	padding: 20px 0px;
	width: 90px;
	cursor: pointer;
	font-size: 90px;
	color: #fff;
	top: 0px;
	right: 0px;
	transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transform: scale(0);
}

span.search-button.animate
{
	transform: scale(1);
}



div.main-wrap
{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 110px 0px;
	float: left;
	width: 100%;
}

div.main-wrap#home
{
	padding: 0px;
	box-sizing: border-box;
}

div.main-wrap.position#home
{
	padding: 134px 0px 0px 0px;
}

div.main-wrap#home div.settings_menu.right
{
	top: auto;
}

div.main-wrap#about-us
{
	padding: 50px 0px 0px;
}

div.main-wrap#gallery
{
	padding: 110px 0px 0px;
}

div.main-wrap#neighbourhood
{
	padding: 0px;
}

div#panorama
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
}

div.panorama-activation
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0px;
}

div.main-wrap:hover > div.settings_menu
{
	display: block;
}

div.main-wrap.head
{
	height: 134px;
	padding: 0px;
}

div.main-wrap.head.position
{
	position: absolute;
	top: 0px;
	z-index: 99;
	height: 134px;
	padding: 0px;
}


div.main-container
{
	margin: 0px auto;
	width: 1260px;
	position: relative;
	z-index: 2;

}

div.main-container.head-desctop
{
	overflow: hidden;
}

div.main-container.head-mobile
{
	position: relative;
	height: 60px;
	text-align: center;
	width: 100%;
	display: none;
}

a.mobile-home-link
{
	display: inline-block;
	font-size: 30px;
	line-height: 60px;
	color: #fff;
}

span.mobile-menu-button
{
	font-size: 40px;
	float: left;
	cursor: pointer;
	color: #fff;
	padding: 10px;
}

span.mobile-search-button
{
	margin: 34px;
	width: 35px;
	height: 36px;
	float: right;
	cursor: pointer;
}


div.mobile-menu-wrap
{
	position: absolute;
	background: #eceff1;
	top: 100%;
	width: 100%;
	display: none;
	border-bottom: 4px solid #80b050;
	z-index: 2;
}

div.mobile-subscribe
{
	background: #ced6db;
	padding: 60px 50px;
}

span.mobile-subscribe-img
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-right: 40px;
	width: 195px;
	height: 240px;
	float: left;
}

div.mobile-subscribe-info
{
	text-align: left;
}

span.mobile-subscribe-title
{
	text-transform: uppercase;
	font-size: 38px;
	display: block;
	margin-bottom: 10px;
}

p.mobile-subscribe-text
{
	font-size: 32px;
	line-height: 44px;
}

button.mobile-subscribe-submit
{
	height: 80px;
	padding: 0px 30px;
	border: none;
	background: #ff3333;
	border-radius: 15px;
	color: #fff;
	font-size: 30px;
	margin-top: 20px;
}

ul.mobile-menu
{
	float: left;
	width: 100%;
	text-align: left;
}

ul.mobile-menu li
{
	border-bottom: 1px solid #cdd6db;
	width: 100%;
	float: left;
}

ul.mobile-menu li:last-child
{
	border: none;
}

ul.mobile-menu li a
{
	color: #000;
	font-size: 22px;
	line-height: 70px;
	padding: 0px 0px 0px 30px;
	display: block;
	text-transform: uppercase;
}

ul.mobile-menu li a:hover
{
	color: #80b050;
}

ul.mobile-menu li a span
{
	font-size: 70px;
	float: right;
	margin: 27px 0px;
}

ul.mobile-menu-dropdown
{
	overflow-y: auto;
	height: 300px;
	display: none;
}

ul.mobile-menu-dropdown li a
{
	padding: 0px 0px 0px 60px;
}


div.logo-wrap
{
	float: left;
	margin-right: 20px;
	position: relative;
}


a.home-link
{
	display: table;
	font-size: 26px;
	font-weight: 600;
	height: 134px;
	color: #fff;
}

a.home-link span
{
	display: table-cell;
	vertical-align: middle;
}

a.home-link img
{
	float: left;
	margin-right: 10px;
	max-height: 134px;
}

div.logo-wrap:hover div.settings_menu
{
	display: block;
}

a.search-toggle
{
	float: right;
	color: #fff;
	margin: 52px 0px 52px 35px;
}

a.search-toggle span
{
	font-size: 30px;
}

div.menu-wrap
{
	margin: 46px 0px;
	position: relative;
}

ul.main-menu
{
	overflow: hidden;
	text-align: center;
}

ul.main-menu li
{
	position: relative;
	display: inline-block;
	vertical-align: top;
}
ul.main-menu li.user-login-item
{
	float: right;
}

ul.main-menu li a.hlink
{
	display: block;
	color: #fff;
	padding: 0px 28px;
	font-size: 16px;
	font-weight: 500;
	line-height: 42px;
}

ul.main-menu li.disable-link a.hlink
{
	opacity: 0.5;
}

ul.main-menu li a.sign-in
{
	text-transform: uppercase;
	background: #80b050;
	margin: 0px 0px 0px 35px;
	border-radius: 4px;
	display: block;
	color: #fff;
	padding: 0px 35px;
	font-size: 16px;
	font-weight: 500;
	line-height: 42px;
}

ul.main-menu li a.sign-out
{
	text-transform: uppercase;
	background: #ccc;
	margin: 0px 0px 0px 35px;
	border-radius: 4px;
	display: block;
	color: #fff;
	padding: 0px 35px;
	font-size: 16px;
	font-weight: 500;
	line-height: 42px;
}

ul.main-menu li:hover a.hlink
{
	color: #80b050;
}

ul.main-menu li:hover a.sign-in
{
	filter: brightness(80%);
}

ul.main-menu li:hover div.settings_menu
{
	display: block;
}



div.slide-wrap
{
	display: table;
	width: 100%;
	height: 100%;
}

div.slide
{
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.4) 90%, rgb(255, 255, 255) 100%);
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.4) 90%, rgb(255, 255, 255) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.4) 90%, rgb(255, 255, 255) 100%);
	background-repeat: repeat-x;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

h1.slide-title
{
	line-height: 90px;
	font-size: 52px;
	font-weight: 500;
	color: #fff;
}

span.slide-label
{
	font-size: 18px;
	font-weight: 400;
	color: #fff;
}

div.content-wrap
{
	width: 900px;
	margin: 0px auto;
}

h2.content-title
{
	text-align: center;
	font-size: 36px;
	line-height: 48px;
	color: #060606;
	font-weight: 100;
	margin-bottom: 30px;
}

h2.contacts-title
{
	text-align: center;
	font-size: 36px;
	line-height: 48px;
	color: #071827;
	font-weight: 100;
	margin-bottom: 30px;
}

div.content-wrap p
{
	font-size: 16px;
	line-height: 28px;
	color: #828587;
	text-align: center;
}

div.content-wrap p span.contrast
{
	color: #373a3d;
}

div.slider-wrap
{
	height: 470px;
}

.sky-carousel .sky-carousel-container li img
{
	display: none;
}

.sky-carousel .sky-carousel-container li
{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 700px;
	height: 470px;
}

div.slider-content
{
	width: 100%;
	margin: 0px auto;
}

div.slider
{
	position: relative;
	background: #fff;
}

div.slider-item
{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px auto;
	width: 730px;
	height: 470px;
}

li.gallery-slide:hover div.settings_menu
{
	display: block;
}

ul.amenties-list
{
	display: block;
	margin-top: 70px;
	text-align: center;
}

ul.amenties-list li
{
	position: relative;
	display: inline-block;
	width: 33.3%;
	box-sizing: border-box;
	padding: 15px 0 15px 50px;
	opacity: 0.6;
}

ul.amenties-list li .amenties-title {
	display: block;
	overflow: hidden;
}

ul.amenties-list li.activate
{
	opacity: 1;
}

ul.amenties-list li:hover div.settings_menu
{
	display: block;
}

ul.amenties-list li span.amenties
{
	font-size: 18px;
	line-height: 32px;
	color: #828587;
	text-align: left;
	overflow: hidden;
	display: block;
	cursor: pointer;
}

ul.amenties-list li span.amenties:hover {
	color: #333;
}

ul.amenties-list li span.icon
{
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	height: 32px;
	margin-right: 10px;
	width: 40px;
}




div.main-wrap.desc
{
	background: url('/images/desc-bg.jpg') no-repeat center;
	background-size: cover;
	padding: 40px 0px;
	height: 620px;
}

div.desc-container
{
	float: right;
	width: 350px;
	margin: 40px 0px;
	padding: 40px;
	position: relative;
	z-index: 1;
}

div.desc-bg
{
	background: #80b050;
	opacity: 0.9;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1;
}

div.desc-wrap
{
	position: relative;
	z-index: 2;
}

h3.desc-title
{
	font-size: 40px;
	font-weight: 100;
	color: #fff;
	line-height: 44px;
	margin-bottom: 30px;
}

div.desc-wrap p
{
	font-size: 16px;
	color: #fff;
	line-height: 24px;
}

ul.contacts-list
{
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 30px 0;
	text-align: center;
}

ul.contacts-list li
{
	width: 33.3%;
	display: inline-block;
	text-align: center;
	position: relative;
	vertical-align: top;
}

ul.contacts-list li:hover div.settings_menu
{
	display: block;
}

ul.contacts-list li span.material-icons
{
	font-size: 60px;
	color: #80b050;
	display: block;
	width: 60px;
	margin: 0px auto 20px;
}


ul.contacts-list li span.contact-label
{
	font-size: 16px;
	color: #828587;
	line-height: 22px;
}

ul.contacts-list li span.contact-label span
{
	display: block;
}

ul.contacts-list li span.contact-label a
{
	font-size: 14px;
	color: #80b050;
}

.pac-container
{
	position: absolute !important;
	z-index: 2000 !important;
	border-radius: 0px !important;
	border: 2px solid #eee !important;
	border-top: none !important;
	box-shadow: none !important;
	margin-left: 2px;
}

.pac-logo:after
{
	display: none !important;
}

div.map-wrap
{
	float: left;
	width: 100%;
	padding-top: 30px;
	position: relative;
}

div.map-wrap:hover div.settings_menu
{
	display: block;
}

form.contacts-form
{
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	position: relative;
}

form.contacts-form:hover div.settings_menu
{
	display: block;
}

div.field-wrap
{
	width: 50%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}

div.field-wrap.left
{
	padding-left: 0px;
}

div.field-wrap.right
{
	padding-right: 0px;
}

div.field-wrap.center
{
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

form.contacts-form input
{
	border: none;
	background: #f7f7f7;
	padding: 0px 20px;
	height: 60px;
	width: 100%;
	float: left;
	border-radius: 4px;
	font-size: 16px;
	color: #2f3133;
	transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
}

form.contacts-form textarea
{
	border: none;
	background: #f7f7f7;
	padding: 20px;
	height: 140px;
	width: 100%;
	float: left;
	border-radius: 4px;
	font-size: 16px;
	color: #2f3133;
	resize: none;
	transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
}

form.contacts-form input.error,
form.contacts-form textarea.error
{
	background: #ffcece;
}

::-webkit-input-placeholder {color:#2f3133;}
::-moz-placeholder          {color:#2f3133;}
:-moz-placeholder           {color:#2f3133;}
:-ms-input-placeholder      {color:#2f3133;}

form.contacts-form input::-webkit-input-placeholder
{
	font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

form.contacts-form textarea::-webkit-input-placeholder
{
	font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

button.submit
{
	border: none;
	background: #80b050;
	font-size: 16px;
	height: 42px;
	padding: 0px 36px;
	color: #fff;
	border-radius: 4px;
	margin: 20px;
	cursor: pointer;
}

div.main-wrap.map
{
	padding: 0px;
}

iframe.map-frame
{
	width: 100%;
	height: 380px;
}

div#map-content
{
	height: 380px;
}

div.main-wrap.footer
{
	margin: 35px 0px;
	padding: 0px;
}

ul.footer-links
{
	float: left;
}

ul.footer-links li
{
	float: left;
	margin-right: 25px;
}

ul.footer-links li a
{
	font-size: 14px;
	color: #80b050;
	display: block;
	line-height: 20px;
}

span.footer-copyright
{
	float: right;
	font-size: 14px;
	color: #84848c;
	line-height: 20px;
}

div.buttons-wrap
{
	position: absolute;
	right: 50px;
	top: 5px;
}


@media screen and (max-width: 750px)
{
	div.main-wrap
	{
		padding: 0px !important;
	}

	div.main-container
	{
		width: auto !important;
	}

	div.main-container.head-desctop
	{
		display: none;
	}

	div.main-container.head-mobile
	{
		display: block;
	}

	div.content-wrap
	{
		width: auto;
		margin: 60px 20px;
	}

	div.slider-wrap
	{
		height: auto;
	}

	div.slide
	{
		padding: 60px 20px 120px;
	}

	h1.slide-title
	{
		line-height: 70px;
	}

	.sky-carousel
	{
		height: 200px !important;
	}

	.sky-carousel .sc-nav-button.sc-prev
	{
		left: 5px;
		margin: -24px 0px 0px 0px;
	}

	.sky-carousel .sc-nav-button.sc-next
	{
		right: 5px;
		margin: -24px 0px 0px 0px;
	}

	.sky-carousel .sky-carousel-container li
	{
		width: 300px;
		height: 200px;
	}

	div.gallery-wrap
	{
		margin-top: 50px;
	}

	ul.amenties-list li
	{
		width: 100%;
		padding-left: 30px;
	}

	div.desc-wrap
	{
		width: auto;
		padding: 20px;
	}

	ul.contacts-list li
	{
		width: 100%;
		float: left;
		text-align: center;
		margin-top: 30px;
	}

	div.field-wrap
	{
		width: 100% !important;
		padding: 10px 0px !important;
	}

	div.main-wrap.map
	{
		margin-top: 40px;
	}

	div.main-wrap.footer
	{
		text-align: center;
	}

	ul.footer-links
	{
		float: left;
		width: 100%;
		box-sizing: border-box;
		padding: 0px 20px;
		margin-bottom: 30px;
	}

	ul.footer-links li
	{
		float: left;
		width: 100%;
		margin: 0px;
	}

	ul.footer-links li a
	{
		font-size: 18px;
		display: inline-block;
		line-height: 30px;
	}

	span.footer-copyright
	{
		float: none;
		font-size: 18px;
		line-height: 30px;
	}

	div#panorama
	{
		position: relative;
		height: 400px;
	}

	div.panorama-activation
	{
		height: 400px;
		top: auto;
		bottom: 0px;
	}

	div.desc-container
	{
		float: right;
		width: 320px;
		margin: 0px;
		padding: 0px;
	}

	div.main-wrap.head.position
	{
		height: 60px;
	}

	div.main-wrap#home
	{
		padding: 60px 0px 0px !important;
	}

	div.slide-wrap
	{
		position: relative;
	}

}

.sky-carousel-custom {
	margin-bottom: 5px;
}