/**
 *
 * Sky jQuery Touch Carousel
 * URL: http://www.skyplugins.com
 * Version: 1.0.2
 * Author: Sky Plugins
 * Author URL: http://www.skyplugins.com
 *
 */

/**
*	Table of Contents
*	
*	1. Media Queries
*	2. Container Styles
*	3. Carousel Item Styles
*	4. Current Content Styles
*	5. Gradient Overlay Styles
*	6. Navigation Styles
*	7. Preloader Styles
*	8. Other Styles
*/

/**********************************************
*
* 1. Media Queries
*
**********************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.sky-carousel .sc-overlay {
		width: 160px !important;
	}
}

@media only screen and (max-width: 479px) {
	.sky-carousel .sc-overlay {
		width: 70px !important;
	}
}

/**********************************************
*
* 2. Container Styles
*
**********************************************/
.js .sky-carousel {
	visibility: hidden;
}

.sky-carousel {
	width: 100%;
	height: 470px;
	position: relative;	
	overflow: hidden;
}

.sky-carousel .sky-carousel-container {
	position: relative;
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
}

/**********************************************
*
* 3. Carousel Item Styles
*
**********************************************/
.sky-carousel .sky-carousel-container li {
	position: absolute;
	border: 0;
}

.sky-carousel .sky-carousel-container li.sc-selected {
	box-shadow: 0px 0px 50px 80px #fff;
}


.sky-carousel .sky-carousel-container li img {
	display: block;
	border: 0;
	max-width: 700px !important;
}

.sky-carousel .sky-carousel-container li a img {
	border: none;
}

.sky-carousel .sky-carousel-container .sc-content {
	display: none;
}

/**********************************************
*
* 4. Current Content Styles
*
**********************************************/
.sky-carousel .sc-content-wrapper {
	position: absolute;
	text-align: center;	
	width: 100%;
	top: 81%;
	left: 50%;
	z-index: 4999;
}

.sky-carousel .sc-content-container {
	position: relative;
	left: -50%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 0 20px;
}

.sky-carousel .sc-content-wrapper h2 {
	color: #444;
	font-size: 22px;
	margin: 0;
	padding: 0;
}

.sky-carousel .sc-content-wrapper p {
	color: #777;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.sky-carousel .sc-content-wrapper a {
	text-decoration: none;
	color: #444;
	border-bottom: 1px dotted #444;
}

/**********************************************
*
* 5. Gradient Overlay Styles
*
**********************************************/
.sky-carousel .sc-overlay {
	position: absolute;
	height: 100%;
	z-index: 4998;
	pointer-events: none;
	top: 0;
}

.sky-carousel .sc-overlay-left {
	left: 0px;
}

.sky-carousel .sc-overlay-right {
	right: 0px;
}

/**********************************************
*
* 6. Navigation Styles
*
**********************************************/
.sky-carousel .sc-nav-button {
	position: absolute;
	top: 50%;
	z-index: 1000;
	width: 48px;
	height: 48px;
	border-radius: 48px;
	color: #fff;
	text-align: center;
	background: #80b050;
	margin-top: -24px;
	transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.sky-carousel .sc-nav-button.sc-next {
	right: 50%;
	margin-right: -450px;
}

.sky-carousel .sc-nav-button.sc-next:after {
	content: '';
	width: 0px;
    height: 0px;
    display: inline-block;
    margin: 10px 0px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: none;
    border-left: 20px solid #fff;
	margin-left: 5px;
}

.sky-carousel .sc-nav-button.sc-prev {
	left: 50%;
	margin-left: -450px;
}

.sky-carousel .sc-nav-button.sc-prev:after {
	content: '';
	width: 0px;
    height: 0px;
    display: inline-block;
    margin: 10px 0px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 20px solid #fff;
    border-left: none;
	margin-right: 5px;
}


/**********************************************
*
* 7. Preloader Styles
*
**********************************************/
.sky-carousel .sc-preloader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 24px;
	height: 24px;
	margin-top: -22px;
	margin-left: -22px;
	background: #f5f5f5 url("../images/sc-graphics/preloader.gif") no-repeat 50% 50%;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/**********************************************
*
* 8. Other Styles
*
**********************************************/
.sc-no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}